# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment folders
.env
.env.*
!.env.example

# Client and Server builds
uniFleet/client/dist/
uniFleet/server/node_modules/
uniFleet/client/node_modules/
uniFleet/server/.env
uniFleet/client/.env
